.home-page {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(black, pink);
}

 img {
  display: flexbox;
  flex-flow: wrap;
  align-items: center;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  border-radius: 75%;
  box-shadow: 0 0 120px 20px #0ff;
  border-style: solid;
}

@media only screen and (max-width: 600px) {
  img {
    width: 50%;
    height: 50%;
    display: flexbox;
    flex-direction: column;


  }
}
